body {
 background-color: rgba(220, 220, 220, 0.2);
 padding-left: 6%;
 padding-right: 6%;
 font-family: 'Futura', sans-serif;
}

h1 {
 background-color: #DCDCDC;
 font-size: 480%; 
 color: DeepPink; 
 font-family: 'Futura', sans-serif; 
 border: 32px solid white;
 padding: 42px;
}

h2 {
 font-size: 220%;
 font-family: 'Allura';
 background-color: #DCDCDC;
 color: DeepPink; 
 padding: 22px;
 display: inline-block;
}

h3 {
 color: DarkSlateBlue;
}

p, ol, ul {
 color: RebeccaPurple;
}

#p01 {
 color: DarkBlue;
 font-size: 140%;
 font-weight: bold;
}

#p02 {
 font-size: 300%;
 font-style: italic;
 text-align: center;
}

mark {
 background-color: Magenta;
 color: white;
}

blockquote {
 font-family: 'Allura', serif;
 font-size: 160%;
 background-color: white;
 padding: 24px;
}

.dialogue {
 font-style:oblique;
 color: DarkGrey;
}

.notes {
 color: DeepPink;
 font-family: Georgia, serif;
 background-color: LightYellow;
 padding: 20px;
}

.notes2 {
  color: #cc0044;
}

pre {
 background-color: white;
 padding: 24px;
}

button {
 color: magenta;
 font-size: 150%;
 font-family: 'Allura', serif;
}

a:link, a:visited, a:active {
 color: magenta;
 font-family: 'Futura', sans-serif;
 text-decoration: none;
}

a:hover {
 color: white;
 background-color: magenta;
 font-family: 'Futura', sans-serif;
 text-decoration: none;
}

.a01:link, .a01:visited {
  background-color: magenta;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.a01:hover, #a01:active {
  background-color: red;
}

#a02:link {
 color: GoldenRod;
 font-family: Impact, monospace;
 background-color: SlateGrey;
}

#a02:visited {
 color: Salmon;
 background-color: SlateGrey;
}

#a02:hover {
 color: GreenYellow;
 background-color: SlateBlue;
}

#a02:active {
 color: Cyan;
}

.imglink:hover {
 background-color: transparent;
}

ul {
 list-style-type: circle;
}

.loud {
  font-size: 220%;
  color: red;
  border: 6px solid white;
}

#fantdiv {
  background-color: palevioletred;
  padding: 18px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.fanthead {
  color: white;
  font-family: fantasy;
}

#time {
  width: 400px;
  height: 75px;
  background-color: pink;
  padding: 12px;
}

* {
  box-sizing: border-box;
}

.floatwide {
  float: left;
  width: 70%;
  padding-right: 24px;
}

.floatnarrow {
  float: left;
  width: 30%;
  padding-right: 24px;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

hr {
  margin-top: 24px;
  margin-bottom: 12px;
}

aside {
  width: 30%;
  float: right;
  background-color: mistyrose;
  color: magenta;
  padding: 24px;
  margin-left: 24px;
}

figure {
  background-color: lavender;
  padding: 24px;
}

.column {
  float: left;
  width: 50%;
}

table {
  padding-top: 12px;
  padding-bottom: 12px;
}

td {
  width: 33%;
}

@media (max-width:800px) {
  .column, .floatnarrow, .floatwide, aside, td {
    width: 100%;
  }
  td {
    display: block;
  }
}

form {
  padding: 24px;
  background-color: pink;
  margin-bottom: 36px;
}

fieldset {
  background-color: white;
  padding: 24px;
}

legend {
  background-color: white;
  border: 1px solid black;
  padding: 8px;
  color: deeppink;
  font-weight: bold;
}

select {
  padding: 8px;
}

ul.shortcuts {
  list-style-type: none;
  overflow: hidden;
  background-color: none;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

li.shortcuts {
  float: left;
  padding: 16px;
  text-align: center;
  font-weight: bold;
}

li.shortcuts a {
  text-decoration: none;
  display: block;

}

li.shortcuts a:hover {
    color: white;
}

.dragdiv {
  border:1px solid black;
  width:420px;
  height:300px;
}

#chesswhite, #chessblack {
  width:120px;
  height:120px;
  padding:20px;
  float:left;
}

#chesswhite {
  border:1px solid black;
}

#chessblack {
  background-color:black;
}