body {
font-family: "Adobe Garamond W08", adobe-garamond-pro, AGaramondPro-Regular, "Times New Roman", Times, serif;
    font-size: 23px;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    padding-top: 1em;
    padding-bottom: 1em;
    font-style: inherit;
    margin: 0px;
    padding: 8%;
}

a {
font-family: "Adobe Garamond W08", adobe-garamond-pro, AGaramondPro-Regular, "Times New Roman", Times, serif;
    font-size: 23px;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    padding-top: 1em;
    padding-bottom: 1em;
    font-style: inherit;
    margin: 0px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

li {
    float: left;
}

li a {
    text-decoration: none;
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    font-weight: bold;
}

li a:hover {
    background-color: FireBrick;
    color: white;
}